@{
    ViewBag.Title = "Contact";
}


<div class="sideSection">
	<div class="sideHeader">Mail</div>
	<div class="sideContent">
		<p>
			CSI-ARS<br />
			PO Box 663<br />
			New Castle, IN 47362
		</p>
	</div>

	<div class="sideHeader">Connect</div>
	<div class="sideContent"></div>
</div>

<div class="mainSection">
	<div class="mainHeader">Contact</div>
	<div class="mainContent">
		<p>
			Please feel free to contact CSI-ARS directly by phone or e-mail.
		</p>
		<p>
			<span class="contactLabel">Phone:</span><span><a href="tel:765.545.0262">765.545.0262</a></span>
		</p>
		<p>
			<span class="contactLabel">E-mail:</span><span><a href="mailto:gary.metroka@gmail.com">gary.metroka@gmail.com</a> / <a href="mailto:gmetroka@csi-ars.com">gmetroka@csi-ars.com</a></span>
		</p>
		<p>
			<span class="contactLabel">Fax:</span><span>765.529.4501<span class="subText">(Please Call Before Sending Fax)</span></span>
		</p>
		<p class="subText">
			CSI-ARS provides Accident Consultation services and Accident Reconstruction services Nationwide.
		</p>
		<p class="subText">
			CSI-ARS offers Accident Investigation services within the state of Indiana.
		</p>
	</div>
</div>

