@{
    ViewBag.Title = "Implementation";
}


<div class="sideSection">
	<div class="sideHeader">Automobiles</div>
	<div class="sideContent"></div>

	<div class="sideHeader">Commercial Vehicles</div>
	<div class="sideContent"></div>
</div>

<div class="mainSection">
	<div class="mainHeader">Implementation</div>
	<div class="mainContent">
		<p>
			Discuss the accident and list the specific issues to be resolved by your firm. Collect
			all available reports and photographs, and consider the following:
		</p>
		<ul>
			<li>Number of issues requested to be addressed</li>
			<li>Review existing reports and photographs</li>
			<li>Personal inspection of the accident scene...photograph & document</li>
			<li>Personal inspection of the vehicle(s)...photograph & document</li>
			<li>Vehicle damage evaluation</li>
			<li>Utilize methods of Northwestern University Traffic Institute</li>
			<li>Draw diagrams</li>
			<li>Research</li>
			<li>Use of reconstruction software</li>
			<li>Submit report</li>
			<li>Contact and review with client</li>
		</ul>
	</div>
</div>

