@{
    ViewBag.Title = "Index";
}

<div class="sideSection">
	<div class="sideHeader">Automobiles</div>
	<div class="sideContent"></div>

	<div class="sideHeader">Commercial Vehicles</div>
	<div class="sideContent"></div>
</div>

<div class="mainSection">
	<div class="mainHeader">Accident Investigation Reconstruction Specialists</div>
	<div class="mainContent" style="text-align: center;">
		<img src="~/Content/images/Logo.jpg"
	</div>
</div>
